<table class="table table-primary">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Count</th>
      <th scope="col">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let eachDept of allDeptsList">
      <td scope="row">{{eachDept.deptId}}</td>
      <td>{{eachDept.deptName}}</td>
      <td>{{eachDept.deptCap}}</td>
      <td>
        <button>Details</button>
        <button (click)="_toggleUpdateFlag(eachDept.deptId)">Update</button>
        <button (click)="sendToDelete(eachDept.deptId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="updateDetailFlag">
  <app-update-department></app-update-department>
</div>
